<span style="font-family: Arial; font-weight:bold;font-size:1em;color:#f0f0f0;">..............................................
    <span style="font-family: Arial; font-weight:bold;font-size:2.5em;color:#c7920e;">
           Statistics Final exam for 70 Marks

-------------

# 4 Questions X  5 Marks = 20 Marks

In [1]:
import pandas as pd
import numpy as np

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">1.Random sample of production rates from 3 assembly lines is given below. Do rates of production differ significantly?
Production Rates



| OBS|Assembly Line 1 |Assembly Line 2|Assembly Line 3 |
| ------- |  ------ |--------------|-----------------|
| 1	|    15                | 	10          |     	17|
| 2	|    14                | 	14	        |        12
| 3	|    20	               |     9	        |        14|
| 4	|    15                | 	10	        |        15|
| 5	|    16                |  	11          |    	12|

A. State Which test to be Performed (1 mark)

B. Calculate the test statistic and critical value and p_value  (2 mark)

C.interpret the results (1 mark)

### A. State Which test to be Performed (1 mark)

One way Anova test is used beacaue for 3 Assembly line with respect to Production rate which is Numeric vs Categorical
so, one way anova test is used to mean difference of 3 Assembly line with Production rate.

### B. Calculate the test statistic and critical value and p_value (2 mark)

In [91]:
As1 = np.array([15,14,20,15,16])
As2 = np.array([10,14,9,10,11])
As3 = np.array([17,12,14,15,12])

In [92]:
from scipy.stats import f_oneway, f

In [93]:
# 95% confidance interval
# level of significance. 5%
alpha = 0.05

In [94]:
# degree of freedom for Sum of Square Accross 3 groups is 2
# degree of freedom for Sum of Square within 3 groups is 15 total sample - number of categories 3
dfn = 3 - 1
dfd = 15 - 3

In [95]:
F_Critical = f.isf(alpha,dfn,dfd)

In [96]:
print(F_Critical)

3.8852938346523933

In [97]:
F_statistic, P_value = f_oneway(As1, As2, As3)

In [98]:
print('F_statistic:',F_statistic,'\n','P_value:',P_value)

F_statistic: 7.532846715328462
 P_value: 0.007595782602661818

### C.interpret the results (1 mark)

Null Hypothesis (H0): no difference between mean of 3 Assembly line for Production rate.
Alternate Hypothesis(Ha): significantly difference between mean of 3 Assembly line for Production rate.

So, P_value(0.007) < 0.05, Null Hypothesis is rejected. yes rates of production differ significantly from each other.

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">2. Within a school district, students were randomly assigned to one of two Math teachers - Mrs. Smith and Mrs. Jones. After the assignment, Mrs. Smith and Mrs. Jones had 30 students each.At the end of the year, each class took the same standardized test. The scores are of students are given below.Test the hypothesis that whether Mrs. Smith and Mrs. Jones are equally effective teachers. Use a 0.05 level of significance.


Mrs_Smith = [66,68,71,62,63,63,88,87,89,85,98,91,54,53,69,58,70,86,84,87,87,66,61,60,56,77,75,71,70,59,62,63]

Mrs_Jones = [71,80,81,87,64,68,60,72,71,77,39,88,63,55,64,63,71,71,48,63,77,49,67,69,56,44,48,77,63,88,67,67]

A. Frame Null and Alternate Hypothesis ( 1 Mark)

B. State which test to be performed  (1 Mark)

C. Perform the test  (2 Mark)

D. Interpret the results  (1 Mark)

In [99]:
Mrs_Smith = [66,68,71,62,63,63,88,87,89,85,98,91,54,53,69,58,70,86,84,87,87,66,61,60,56,77,75,71,70,59,62,63]

Mrs_Jones = [71,80,81,87,64,68,60,72,71,77,39,88,63,55,64,63,71,71,48,63,77,49,67,69,56,44,48,77,63,88,67,67]

### A. Frame Null and Alternate Hypothesis ( 1 Mark)

Null Hypothesis (H0)     : μ1 =  μ2 no difference in mark means of teacher 1 and 2 (Smith and Jones)
Alternate Hypothesis (Ha): μ1 != μ2 Difference in mark means of teacher 1 and 2 (Smith and Jones)

### B. State which test to be performed (1 Mark)

Two Sample t test is used.

### C. Perform the test (2 Mark)

In [100]:
from scipy.stats import ttest_ind

In [101]:
# T-test for the means of *two independent* samples of scores.
T_stats, P_value = ttest_ind(Mrs_Smith, Mrs_Jones)

In [102]:
print(T_stats, P_value)

1.7081743311361917 0.09260670088904191

### D. Interpret the results (1 Mark)

So, P_value(0.092) > 0.05, Fail to reject Null Hypothesis. So, Mrs. Smith and Mrs. Jones are equally effective teachers.

-----

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">3.Read the dataset(Party.xlsx) and public opinion poll surveyed a simple random sample of 1000 voters. Respondents were classified by gender (male or female) and by voting preference (Republican, Democrat, or Independent).Do the men's voting preferences differ significantly from the women's preferences? Use a 0.05 level of significance.

A.Frame Null and Alternate Hypothesis ( 1 Mark)

B.State which test to be performed  (1 Mark)

C.Perform the test  (2 Mark)

D.Interpret the results  (1 Mark)

In [104]:
Party_df = pd.read_excel('Party.xlsx')

In [105]:
Party_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
Gender    100 non-null object
Party     100 non-null object
dtypes: object(2)
memory usage: 1.6+ KB

In [106]:
Party_df.head()

  Gender     Party
0      M  Republic
1      F  Republic
2      M  Republic
3      M  Republic
4      M  Republic

In [129]:
pd.crosstab(Party_df['Gender'],Party_df['Party'])

Party   Democratic  Independent  Republic
Gender
F               24           13        15
M               15           16        17

In [121]:
Party_df['Gender'].value_counts()

F    52
M    48
Name: Gender, dtype: int64

In [135]:
P_g = Party_df.groupby('Party', axis=0)['Gender'].value_counts()

In [136]:
P_g

Party        Gender
Democratic   F         24
             M         15
Independent  M         16
             F         13
Republic     M         17
             F         15
Name: Gender, dtype: int64

In [148]:
combo = pd.DataFrame({'Republic':[15,17], 'Democratic':[24,15], 'Independent':[13,16]}, index=['F','M'])

In [149]:
combo

   Republic  Democratic  Independent
F        15          24           13
M        17          15           16

### A.Frame Null and Alternate Hypothesis ( 1 Mark)

Null Hypothesis (H0)      : The men's voting preferences will not differ from the women's preferences
Alternate Hypothesis (Ha) : The men's voting preferences differ significantly from the women's preferences

### B.State which test to be performed (1 Mark)

Chisquare test is used.

### C.Perform the test (2 Mark)

In [150]:
from scipy.stats import chi2_contingency

In [157]:
chi2_contingency(combo)

(2.3560375646126634, 0.307888128142274, 2, array([[16.64, 20.28, 15.08],
        [15.36, 18.72, 13.92]]))

### D.Interpret the results (1 Mark)

So, P-value (0.307) > 0.05 significance level, we fail to reject the null hypothesis.
we can say that the men's voting preferences will not differ from the women's preferences.

-----------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">4.	The following table shows frequency of arrival of patients at a health clinic in a 15-minute interval. What is the probability that more than 6 patients will arrive in next half an hour?

* Number of Customers:	0	1	2	3	4	5	6

* Observed Frequency:	1	4	5	6	4	3	2

In [390]:
Number_of_Customers = np.array([0 ,1 ,2, 3, 4, 5, 6])
Observed_Frequency = np.array([1,4,5,6,4,3,2])
interval = 15
customers = np.sum(Number_of_Customers * Observed_Frequency)

In [387]:
rate15 = customers/intervals
rate30 = rate15 * 2

In [388]:
rate30

6.0

In [389]:
print(1 - scipy.stats.poisson.cdf(5, rate30))

0.5543203586353891


probability of 6 or more customers = 0.554

-----------

#  2 Questions X  10 Marks = 20 Marks

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">1.Read the dataset (Churn.xlsx) it consists of all the information regarding telecom industry for any telecom industry Churning rate of customers causes direct impact on the business so by performing the statistical analysis on the data set we need to find out on what facors the churning rate is dependent on. Perform the following tasks on the data :

1. List out the numerical and categorical features in the dataset and mention the possible statistical hypothesis test for give features in the dataset(2 marks)


2. State the null and alternative hypothesis for any one of the test mention in the question number one(2 marks)

3. Now perform any two required statistical test on the data to determine what are the significant features in the data with respect to target variable(95% C.I ) ? (4 Marks)

4. Interpret the results ? (2 Marks)

In [324]:
Churn_df = pd.read_excel("Churn.xlsx")

In [326]:
Churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 15 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
OnlineBackup        7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 825.4+ KB

In [327]:
categorical = Churn_df.select_dtypes('object').columns

In [328]:
numerical = Churn_df.select_dtypes(exclude='object').columns

## 1. List out the numerical and categorical features in the dataset and mention the possible statistical hypothesis test for give features in the dataset(2 marks)

In [329]:
categorical

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'OnlineBackup', 'TechSupport', 'StreamingTV', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Churn'],
      dtype='object')

In [330]:
numerical

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges'], dtype='object')

Let, Our target variable is Churn which is Categorical

For Categorical
    So, Chi-Square test is the possible statistical hypothesis test with Churn vs Categorical variables to check significany between them.
    
For Numerical
    So, Two sample T test is the possible statistical hypothesis test with Churn vs Numerical variables to check significany between them.

## 2. State the null and alternative hypothesis for any one of the test mention in the question number one(2 marks)

#### 2 sample t-test

Null Hypothesis H0 : There is no significant differnece between the means of variables.
Alternate Hypothesis H1 : There is a significant differnece between the means of variables.

##### Chi-Square test :

Null Hypothesis H0 : There is no dependancy between the variables.
Alternate Hypothesis H1 :There is a dependancy between the variables.

## 3. Now perform required statistical tests on the data to determine what are the significant features in the data with respect to  target variable(95%  C.I ).

### 2 sample t-test

In [332]:
df_no = Churn_df[Churn_df["Churn"]=='No']
df_yes = Churn_df[Churn_df["Churn"]=='Yes']

In [333]:
# T test for MonthlyCharges
t_stat1,pval1 = ttest_ind(df_yes["MonthlyCharges"],df_no["MonthlyCharges"])
print("T_stats and Pvalue for 'T test on MonthlyCharges and chrun' \n")
print("The calculated T-observed value is :- "  ,t_stat1)
print("The calculated p-value is :-          ",pval1)

T_stats and Pvalue for 'T test on MonthlyCharges and chrun'

The calculated T-observed value is :-  16.53673801593631
The calculated p-value is :-           2.706645606888261e-60

In [334]:
# T test on Tenure and chrun.
t_stat2,pval2 = ttest_ind(df_yes["tenure"],df_no["tenure"])
print("T_stats and Pvalue for 'T test on Tenure and chrun' \n")
print("The calculated T-observed value is :- ",t_stat2)
print("The calculated p-value is :-          ",pval2)

T_stats and Pvalue for 'T test on Tenure and chrun'

The calculated T-observed value is :-  -31.57955051135377
The calculated p-value is :-           7.99905796059022e-205

### Chisquare test

In [335]:
from scipy.stats import chi2_contingency

In [354]:
# P_values of tests

In [340]:
gender = pd.crosstab(Churn_df["Churn"],Churn_df["gender"])
gender

gender  Female  Male
Churn
No        2549  2625
Yes        939   930

In [345]:
chi2_contingency(gender)[1]

0.48657873605618596

In [347]:
SeniorCitizen = pd.crosstab(Churn_df["Churn"],Churn_df["SeniorCitizen"])
SeniorCitizen

SeniorCitizen     0    1
Churn
No             4508  666
Yes            1393  476

In [348]:
chi2_contingency(SeniorCitizen)[1]

1.510066805092378e-36

In [351]:
Partner = pd.crosstab(Churn_df["Churn"],Churn_df["Partner"])
Partner

Partner    No   Yes
Churn
No       2441  2733
Yes      1200   669

In [352]:
chi2_contingency(Partner)[1]

2.1399113440759935e-36

## 4.Interpret the results ? (2 Marks)

Here we are cosidering 95% confidence interval hence for the features which are having p_values greater than 0.05 we reject the null hypothesis and for the features which have their p_values less than 0.05 we fail to reject null hypothesis

We did two test for "T test on MonthlyCharges and chrun" and "T test on Tenure and chrun" and the pvalue is less the significance ( 0.05) hence fail to reject null hypothesis.

-----------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">2A). A principal at a school claims that the students in his school are above average intelligent. A random sample of 45 students scores have been taken and observed "mean" score of 68. Is there sufficient evidence to support the principal claim as a significance level of 0.025? The mean population score is 59 with a standard deviation of 9. Scores are normally distributed

A.Frame Null and Alternate Hypothesis ( 1 Mark)

B.State which tail test to be performed  (1 Mark)

C.Find the test statistic  (2 Mark)

D.Interpret the results  (1 Mark)

## A.Frame Null and Alternate Hypothesis ( 1 Mark)

Null Hypothesis :(H0) : u < 59      (The scores of students in the school are not above average.)
Alternate Hypothesis :(Ha):u >= 59  (The scores of students in the school are above average.)

## B.State which tail test to be performed (1 Mark)

Here the principle claims that students scores are above average which is (>=59) so that means we can reject the null   only in one direction so will performed One tail z test to be performed.

In [360]:
from scipy import stats
mu = 59         
xbar = 68       
sd = 9          
n = 45
alpha = 0.025   

# Find the Z Test Statistic
ztest = (xbar-mu)/(sd/np.sqrt(n))
print("Z_observed is",ztest)      
print("The Z_critical value for significance level 0.025 is ",round(stats.norm.isf(0.025),2))

Z_observed is 6.708203932499369
The Z_critical value for significance level 0.025 is  1.96

## D.Interpret the results (1 Mark)

Since the test statistic is greater than the critical value we can reject the null hypothesis.It is statically proven that principle clain established.

--------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">2B). Determine the confidence interval of 95% for a random sample of size 400 with mean 196 and standard deviation 16 ?

In [366]:
from scipy import stats


conf_int=0.95
s = 16
xbar = 196
n=400
z_c = stats.norm.isf(0.05)
LCI,UCI = stats.norm.interval(conf_int,loc = xbar, scale= s )
print('Z_critical', z_c)
print('For 95 %s confidence interval for population is %1.3f to %1.3f' %('%',LCI,UCI))

Z_critical 1.6448536269514729
For 95 % confidence interval for population is 164.641 to 227.359

---------

# 2 Questions X  15 Marks = 30 Marks

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">1A). A farmer cultivates carrots in 2 different fields he wants know weather the size of carrots of field_1 differs from field_2 or not, sample sizes of carrots from both the fields are given below.Construct the hypothesis and perform necessary statistical test.

field_1 = [10,9,8,10,11,8,9,11,8,9,14,6,7,8,9,8,7,10]

field_2 = [6,5,7,5,6,11,8,6,5,4,5,6,7,6,7,8,5,7,8,7,10]

Null Hypothesis (H0): no difference between means of the size of carrots of field_1 differs from field_2 .
Alternate Hypothesis(Ha): There is a significance difference between means of the size of carrots of field_1 differs from field_2.

In [370]:
field_1 = [10,9,8,10,11,8,9,11,8,9,14,6,7,8,9,8,7,10]
field_2 = [6,5,7,5,6,11,8,6,5,4,5,6,7,6,7,8,5,7,8,7,10]


T_stats, p_val = ttest_ind(field_1,field_2)
print("T-observed value is :-  ",T_stats)
print("p-value is :-           ",p_val)

T-observed value is :-   4.169275888956743
p-value is :-            0.0001766210749300592

From above test the pvalue(0.000176) of is less then 0.05, hence we reject the null hypothesis. 
So, There is a significance difference between means of the size of carrots of field_1 differs from field_2.

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">1B) .	It is very important to fill vehicle tyres with right pressure. Too much or too less pressure will result in lower performance or shorter life. The right amount of pressure is set at 16 psi. A random check of 8 tyres at a service station has resulted in following values. Do we have evidence to believe the that the observed tyre pressure is significantly different from 16?

Observed Tyre Pressure (psi):	16.02	16.22	15.82	15.92	16.22	16.32	16.12	15.92

In [373]:
tube = ([16.02,16.22,15.82,15.92,16.22,16.32,16.12,15.92])
n = len(tube)

df = n - 1
mu = 16  


xbar = np.mean(tube)
sigma = np.std(tube, ddof=1)            
se = sigma / np.sqrt(n)
cl = 0.95; alby2 = (1 - cl) / 2;
t = (xbar - mu) / se

# perform two tail test
tcrit = stats.t.isf(alby2, df=df)

# P_value
pval = 1 - stats.t.cdf(t, df=df)
print('The sample mean value for given tube data : ', xbar)
print('The calculated t_observed value is :        ', t)
print('The calculated t_critical value is :        ', tcrit)
print('The calculated p-Value:                     ', pval)

The sample mean value for given tube data :  16.07
The calculated t_observed value is :         1.1168136493044578
The calculated t_critical value is :         2.3646242510102993
The calculated p-Value:                      0.1504680383852428

Since p-Value > 0.05, we are unable to reject H0. So, we conclude that there is not enough statistical evidence that the mean tyre pressure is significantly different from 16 psi.

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">1C). The mayor of a large city claims that the average net worth of families living in this city is at least 300,000. A random sample of 25 families selected from this city produced a mean net worth of 288,000.Assume that the net worth of all families in this city have a normal distribution with the population standard deviation of 80,000. Using the 2.5% significance level, can you conclude that the mayor’s claim is false?

A.Frame Null and Alternate Hypothesis ( 1 Mark)

B.State which tail test to be performed  (1 Mark)

C.Find the test statistic  (2 Mark)

D.Interpret the results  (1 Mark)

### A.Frame Null and Alternate Hypothesis  ( 1 Mark)

Null_Hypothesis      H0 : μ >= 300000  
Alternate Hypothesis Ha : μ < 300000

### B.State which tail test to be performed  ( 1 Mark)

Left tail z test to be performed

### C.Find the test statistic & Critical value ( 2 Mark)

In [374]:
mu = 300000 
xbar = 288000
sd = 80000
n = 25
alpha = 0.025

In [377]:
# Find the Z Test Statistic
ztest = (xbar-mu)/(sd/np.sqrt(n))
print('Z observed',ztest)

Z observed -0.75

In [380]:
# Finding the left Critical value
print('Z critical',-round(stats.norm.isf(0.025),2))

Z critical -1.96

### D.Interpret the results  ( 1 Mark)

Since the Z observed test statistic is less than the critical value. so, we fail to reject the null hypothesis

-------------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">2).Read he data set(Admission.xlsx) consists of complete educational details of students right from their schooling to MBA and previous work experience. Salary is the target variable in the data.Perform the following tasks on the data :


1. List out the numerical and categorical features in the dataset and mention the possible statistical hypothesis test for give features in the dataset(2 marks)


2. State the null and alternative hypothesis for any one of the test mention in the question number one(2 marks)

3. Now perform required statistical tests on the data to determine what are the significant features in the data with respect 
to  target variable(95%  C.I ).      (5 Marks)

4. Interpret the results  (2 Marks)

5. Build a model and find the coefficient and intercept value ? (4 Marks)

In [266]:
admission_df = pd.read_excel('Admission.xlsx')

In [267]:
admission_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 19 columns):
SlNo                   391 non-null int64
Gender                 391 non-null object
Percent_SSC            391 non-null float64
Board_SSC              391 non-null object
Percent_HSC            391 non-null float64
Board_HSC              391 non-null object
Stream_HSC             391 non-null object
Percent_Degree         391 non-null float64
Course_Degree          391 non-null object
Experience_Yrs         391 non-null int64
Entrance_Test          324 non-null object
Percentile_ET          391 non-null float64
Percent_MBA            391 non-null float64
Specialization_MBA     391 non-null object
Marks_Communication    391 non-null int64
Marks_Projectwork      391 non-null int64
Marks_BOCA             391 non-null int64
Placement              391 non-null object
Salary                 391 non-null int64
dtypes: float64(5), int64(6), object(8)
memory usage: 58.1+ KB

In [268]:
admission_df.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0,MAT,55.0,58.80,Marketing & HR,50,65,74,Placed,270000
1,2,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1,MAT,86.5,66.28,Marketing & Finance,69,70,75,Placed,200000
2,3,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0,NaN,0.0,52.91,Marketing & Finance,50,61,59,Placed,240000
3,4,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0,MAT,75.0,57.80,Marketing & Finance,54,66,62,Placed,250000
4,5,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1,MAT,66.0,59.43,Marketing & HR,52,65,67,Placed,180000

In [269]:
# admission_df.pop('SlNo')

In [270]:
categorical = admission_df.select_dtypes('object').columns

In [271]:
numerical = admission_df.select_dtypes(exclude='object').columns

### 1. List out the numerical and categorical features in the dataset and mention the possible statistical hypothesis test for give features in the dataset(2 marks)

In [272]:
numerical

Index(['SlNo', 'Percent_SSC', 'Percent_HSC', 'Percent_Degree',
       'Experience_Yrs', 'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA', 'Salary'],
      dtype='object')

In [273]:
categorical

Index(['Gender', 'Board_SSC', 'Board_HSC', 'Stream_HSC', 'Course_Degree',
       'Entrance_Test', 'Specialization_MBA', 'Placement'],
      dtype='object')

Let, Our target variable is Salary which is numerical

For Categorical
    So, Anova test is the possible statistical hypothesis test with Salary vs Categorical variables to check significany between them.
    
For Numerical
    So, Two sample T test is the possible statistical hypothesis test with Salary vs Numerical variables to check significany between them.

### 2. State the null and alternative hypothesis for any one of the test mention in the question number one(2 marks)

NUll Hypothesis (H0)      : No  differnece between means of variables.
Alternate Hypothesis (H1) : There is a significant differnece between means of variables.

### 3. Now perform required statistical tests on the data to determine what are the significant features in the data with respect to target variable(95% C.I ). (5 Marks)

## 2 sample t test

In [274]:
numerical

Index(['SlNo', 'Percent_SSC', 'Percent_HSC', 'Percent_Degree',
       'Experience_Yrs', 'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA', 'Salary'],
      dtype='object')

In [275]:
def t_test(col):
    return col, ttest_ind(admission_df[col],admission_df['Salary'])[1]

In [276]:
from scipy.stats import ttest_ind

In [277]:
# P_value with columns names

In [278]:
t_test(numerical)

(Index(['SlNo', 'Percent_SSC', 'Percent_HSC', 'Percent_Degree',
        'Experience_Yrs', 'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
        'Marks_Projectwork', 'Marks_BOCA', 'Salary'],
       dtype='object'),
 array([6.67739137e-140, 5.14380256e-140, 5.13505774e-140, 5.12678603e-140,
        4.52845134e-140, 5.04556225e-140, 5.11340641e-140, 5.10196938e-140,
        5.18183588e-140, 5.14100507e-140, 1.00000000e+000]))

In [279]:
male = admission_df[admission_df["Gender"]=='M']
female = admission_df[admission_df["Gender"]=='F']

In [280]:
score = ttest_ind(male['Salary'],female['Salary'])
score

Ttest_indResult(statistic=2.57570858963061, pvalue=0.010371783657249766)

## Anova Test

In [281]:
categorical

Index(['Gender', 'Board_SSC', 'Board_HSC', 'Stream_HSC', 'Course_Degree',
       'Entrance_Test', 'Specialization_MBA', 'Placement'],
      dtype='object')

In [282]:
from scipy.stats import f_oneway

In [283]:
admission_df["Board_SSC"].unique()

array(['Others', 'ICSE', 'CBSE'], dtype=object)

In [284]:
others = admission_df[admission_df["Board_SSC"]=="Others"]
CBSE = admission_df[admission_df["Board_SSC"]=="CBSE"]
ICSE = admission_df[admission_df["Board_SSC"]=="ICSE"]

In [285]:
Anova_test = f_oneway(others['Salary'],CBSE['Salary'],ICSE['Salary'])
Anova_test

F_onewayResult(statistic=0.5453489346394286, pvalue=0.5800831293908766)

In [286]:
admission_df["Board_HSC"].unique()

array(['Others', 'CBSE', 'ISC'], dtype=object)

In [287]:
df_Others = admission_df[admission_df["Board_HSC"]=="Others"]
df_cbse = admission_df[admission_df["Board_HSC"]=="CBSE"]
df_ISC = admission_df[admission_df["Board_HSC"]=="ISC"]

In [288]:
Anova_test = f_oneway(df_Others['Salary'],df_cbse['Salary'],df_ISC['Salary'])
Anova_test

F_onewayResult(statistic=0.288768177728968, pvalue=0.7493467322696925)

In [289]:
admission_df["Stream_HSC"].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [290]:
commerce = admission_df[admission_df["Stream_HSC"]=="Commerce"]
science = admission_df[admission_df["Stream_HSC"]=="Science"]
arts = admission_df[admission_df["Stream_HSC"]=="Arts"]

In [291]:
Anova_value = f_oneway(commerce['Salary'], arts['Salary'], science['Salary'])
Anova_value

F_onewayResult(statistic=0.9378565284715169, pvalue=0.39235161561416954)

In [292]:
admission_df["Entrance_Test"].unique()

array(['MAT', nan, 'K-MAT', 'CAT', 'PGCET', 'GCET', 'G-MAT', 'XAT',
       'G-SAT'], dtype=object)

In [293]:
df_Mat = admission_df[admission_df["Entrance_Test"]=="MAT"]
df_kmat = admission_df[admission_df["Entrance_Test"]=="K-MAT"]
df_cat = admission_df[admission_df["Entrance_Test"]=="CAT"]
df_pgcet = admission_df[admission_df["Entrance_Test"]=="PGCET"]
df_gcet = admission_df[admission_df["Entrance_Test"]=="GCET"]
df_gsat = admission_df[admission_df["Entrance_Test"]=="G-SAT"]
df_xat = admission_df[admission_df["Entrance_Test"]=="XAT"]
df_gmat = admission_df[admission_df["Entrance_Test"]=="G-MAT"]

In [294]:
print(f_oneway(df_Mat["Salary"],df_kmat["Salary"],df_cat["Salary"],df_pgcet["Salary"],df_gcet["Salary"],df_gsat["Salary"],df_xat["Salary"],df_gmat["Salary"]))

F_onewayResult(statistic=1.369119022476755, pvalue=0.2177183664120799)

In [295]:
admission_df["Specialization_MBA"].unique()

array(['Marketing & HR', 'Marketing & Finance', 'Marketing & IB'],
      dtype=object)

In [296]:
HR =   admission_df[admission_df["Specialization_MBA"]=="Marketing & Finance"]
Finance =  admission_df[admission_df["Specialization_MBA"]=="Marketing & HR"]
IB =  admission_df[admission_df["Specialization_MBA"]=="Marketing & IB"]

In [297]:
print(f_oneway(HR["Salary"],Finance["Salary"],IB["Salary"]))

F_onewayResult(statistic=1.8106456622904814, pvalue=0.16492766587692093)

### Interpret the results (2 Marks)

for 95% confidence interval so hence for the features which are having p_values greater than 0.05 we reject the null hypothesis and for the features which have their p_values less than 0.05 we fail to reject null hypothesis.

### 5. Build a model and find the coefficient and intercept value ?

In [298]:
admission_df.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0,MAT,55.0,58.80,Marketing & HR,50,65,74,Placed,270000
1,2,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1,MAT,86.5,66.28,Marketing & Finance,69,70,75,Placed,200000
2,3,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0,NaN,0.0,52.91,Marketing & Finance,50,61,59,Placed,240000
3,4,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0,MAT,75.0,57.80,Marketing & Finance,54,66,62,Placed,250000
4,5,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1,MAT,66.0,59.43,Marketing & HR,52,65,67,Placed,180000

In [299]:
admission_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 19 columns):
SlNo                   391 non-null int64
Gender                 391 non-null object
Percent_SSC            391 non-null float64
Board_SSC              391 non-null object
Percent_HSC            391 non-null float64
Board_HSC              391 non-null object
Stream_HSC             391 non-null object
Percent_Degree         391 non-null float64
Course_Degree          391 non-null object
Experience_Yrs         391 non-null int64
Entrance_Test          324 non-null object
Percentile_ET          391 non-null float64
Percent_MBA            391 non-null float64
Specialization_MBA     391 non-null object
Marks_Communication    391 non-null int64
Marks_Projectwork      391 non-null int64
Marks_BOCA             391 non-null int64
Placement              391 non-null object
Salary                 391 non-null int64
dtypes: float64(5), int64(6), object(8)
memory usage: 58.1+ KB

In [300]:
admission_df.isnull().sum()

SlNo                    0
Gender                  0
Percent_SSC             0
Board_SSC               0
Percent_HSC             0
Board_HSC               0
Stream_HSC              0
Percent_Degree          0
Course_Degree           0
Experience_Yrs          0
Entrance_Test          67
Percentile_ET           0
Percent_MBA             0
Specialization_MBA      0
Marks_Communication     0
Marks_Projectwork       0
Marks_BOCA              0
Placement               0
Salary                  0
dtype: int64

In [301]:
admission_df["Entrance_Test"].value_counts()

MAT      265
K-MAT     24
CAT       22
PGCET      8
GCET       2
XAT        1
G-SAT      1
G-MAT      1
Name: Entrance_Test, dtype: int64

In [302]:
admission_df["Entrance_Test"].fillna(value='MAT',inplace=True)

In [303]:
admission_df.isnull().sum()

SlNo                   0
Gender                 0
Percent_SSC            0
Board_SSC              0
Percent_HSC            0
Board_HSC              0
Stream_HSC             0
Percent_Degree         0
Course_Degree          0
Experience_Yrs         0
Entrance_Test          0
Percentile_ET          0
Percent_MBA            0
Specialization_MBA     0
Marks_Communication    0
Marks_Projectwork      0
Marks_BOCA             0
Placement              0
Salary                 0
dtype: int64

In [304]:
categorical

Index(['Gender', 'Board_SSC', 'Board_HSC', 'Stream_HSC', 'Course_Degree',
       'Entrance_Test', 'Specialization_MBA', 'Placement'],
      dtype='object')

In [305]:
df_categorical = pd.get_dummies(admission_df[["Gender",'Board_SSC',"Board_HSC","Stream_HSC","Course_Degree","Entrance_Test","Specialization_MBA","Placement"]],drop_first=True)

In [307]:
admission_df.shape

(391, 19)

In [308]:
admission_df.drop(["Gender",'Board_SSC',"Board_HSC","Stream_HSC","Course_Degree","Entrance_Test",
                   "Specialization_MBA","Placement"], axis=1, inplace=True)

In [309]:
admission_df.shape

(391, 11)

In [310]:
final_dataframe = pd.concat([admission_df,df_categorical],axis=1)

In [311]:
final_dataframe.shape

(391, 34)

In [313]:
x = final_dataframe.drop("Salary",axis=1)

In [314]:
y = final_dataframe["Salary"]

In [315]:
from sklearn.model_selection import train_test_split

In [317]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [318]:
from sklearn.linear_model import LinearRegression

In [319]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Coefficients value

In [77]:
regressor.coef_

array([-2.92437240e+02,  3.51685962e+02,  8.00339317e+02,  2.08519210e+04,
        1.67879549e+01,  5.05711097e+02,  1.40014186e+03,  2.09031458e+02,
        2.67892489e+02,  3.81058202e+04, -3.32552908e+04, -1.73339452e+04,
        3.01400986e+04,  3.27732378e+03,  5.49553018e+04,  4.35303375e+04,
       -4.45429381e+04, -2.94353043e+04,  1.21738414e+04, -4.58405607e+04,
       -4.78496264e+04, -5.93478320e+04, -7.85734901e+03, -7.39009681e+04,
       -5.50044865e+04,  3.31471362e+04, -4.03222235e+04, -9.67365867e+03,
       -9.33578215e+03, -2.84382378e+04, -2.74731288e+04,  2.72347791e+05])

#### Intercept value

In [323]:
regressor.intercept_

-163693.0913703837